/.venv
/.~lock.Battery_Health_Prediction_Updated.pdf#
/BatteryHealth_Presentation.pdf
/Battery_Health_Prediction (1).ipynb
/Battery_Health_Prediction_Improved.ipynb
/Battery_Health_Prediction_Updated.pdf
/Battery_Health_Prediction_Updated.pptx
/logs
/lu427vkl8.tmp
/Session 1-20260618
/Session 2-20260618
/Session 3-20260618
/Session 4-20260618
/Session 5-20260618
/slide-01.jpg
/slide-02.jpg
/slide-03.jpg
/slide-04.jpg
/slide-05.jpg
/slide-06.jpg
/slide-07.jpg
/slide-08.jpg
/slide-09.jpg
/slide-10.jpg
/slide-11.jpg
/slide-12.jpg
/slide-13.jpg
/slide-14.jpg
/slide-15.jpg
/slide-16.jpg
/slide-17.jpg
/slide-18.jpg
/slideQA-01.jpg
/slideQA-02.jpg
/slideQA-03.jpg
/slideQA-04.jpg
/slideQA-05.jpg
/slideQA-06.jpg
/slideQA-07.jpg
/slideQA-08.jpg
/slideQA-09.jpg
/slideQA-10.jpg
/slideQA-11.jpg
/slideQA-12.jpg
/slideQA-13.jpg
/slideQA-14.jpg
/slideQA-15.jpg
/slideQA-16.jpg
/slideQA-17.jpg
/slideQA-18.jpg